.footer1-container {
    max-width: 1200px;
    height: 320px;
    margin: auto;
    background-color: navy;
    color:white;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.social {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
}
li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 30px;

}
.footer-border-style {
    border-right: 3px solid white;
    font-family: "Epilogue";
    opacity: 0.4;
    padding: 50px;
    font-size: 20px;
}
.footer-contact {
    font-family: "Epilogue";
    opacity: 0.5;
    padding: 70px;
    font-size: 20px;
}
.footer-copyright2 {
    display: flex;
    justify-content: center;
    margin: auto;
}
.footer-copyright2 a {
    color: aqua;
}